small {
    padding-top: 0.3rem;
}

.list-item {
    margin: 1rem;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

h1, h2 {
    text-align: center;
    padding: 1rem;
}
input[type=checkbox]{
    margin-right: 1rem;
}
